@charset "utf-8";

body{
    background-color: rgba(154, 202, 202, 0.822);
    font: italic normal 17px Arial;
}
h1{
    color: rgba(11, 104, 104, 0.801);

}
h1#principal{
    text-align: center;
}
h2{
    color: rgba(67, 131, 131, 0.808);
}
p{
    text-indent: 30px;
    text-align: justify;
}