@charset "utf-8";

body{
    background-color: #75F050;
    font: italic normal 17px Arial;
}
h1{
    color: #467A3D;

}
h1#principal{
    color:#34462E;
    text-align: center;
    text-shadow:3px 3px 3px  rgba(67, 131, 131, 0.808);
}
h2{
    color: rgba(67, 131, 131, 0.808);
}
p{
    text-indent: 30px;
    text-align: justify;
}