@charset "utf-8";

*{
    font:italic normal 16px Arial;
    }
body{
    background-image: linear-gradient(to right,black,silver,white);
}
main{
    background-color: white;
    border-radius: 5px;
    margin: auto;
    width: 600px;
    padding: 10px;
    box-shadow: 3px 3px 3px rgba(187, 181, 181, 0.856);
}
h1{
    text-align: center;
    text-decoration: underline;
    text-shadow: 3px 3px 3px rgba(204, 192, 192, 0.788);
}
h2{
    text-decoration: underline;
}
p{
    font-style: italic;
    text-align: justify;
    text-indent: 30px;
}