@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap');

header > h1{
    font-family: 'Playwrite US Morden';
    font-size: 2em;
    font-style: italic;
    text-align: center;
    
    background-color: rgba(30, 30, 245, 0.781);
    width: auto;
    height: 50px;

}