body{
    background-image: linear-gradient(to right,rgb(37, 37, 184),rgb(117, 117, 233),white);
    font-family: sans-serif;   
    font-size: 16px;
}
h1{
    font-weight: bolder;
    text-decoration:underline ;
}